*{
    padding: 0;
    margin: 0;
}
.container{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 70%;
    height: auto;
    padding-bottom: 25px;
    background: linear-gradient(to right,green,white);
}
.header{
    margin-top: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to right,green,white);
} 
.header h1{
    padding-left: 15px;
}  
.header img{
    padding-left: 550px;
    width: 6%;
}
label{
    display: inline-block;
    width: 200px;
    padding-top: 25px;
}
.formdiv{
    padding-top: 20px;
    padding-left: 40px;
    font-size: 22px;
}
input{
    width:72%;
}
.a{
    width:35.5%;
}
.b{
    width:23.4%;
}
.linediv{
    padding-left: 210px;
}